#harta{
	position:absolute;
	height:80%;
	width:70%;
	border:1px solid black;
	margin-left: 14%;
	margin-top:7%;
	background-image: url(hartanormala/hartanormala.jpg);
	background-size:100%;
				filter: alpha(opacity=90);
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
   opacity:0.9;
   -moz-opacity: 0.90;
}
.steag{
	position:absolute;
width:100px;
height:100px;
border:1px solid red;
}
#dreapta{
	position:absolute;
	margin:0;
	width:13%;
	height:95%;
	border:1px solid black;
	
}
#titlu{
	position:absolute;
	margin-left:24%;
	width:50%;
	height:9%;
	border:1px solid black;
	text-align: center;
	font-size: 26px;
	font-family:"Times New Roman", Times, serif;
}
#stanga{
	position: absolute;
	width:14%;
	height:95%;
	border:1px solid black;
	margin-left: 85%;
}

.tara{
	width:20%;
	height: 20%;
	margin-left:0px;
	margin-top: 0px;
	display: block;

}
#tara1{

	border: 1px solid black;
	background-image: url(picture2/uk/uk.jpg);
	background-size: auto;
}
#tara2
{
	border: 1px solid purple;
		background-image: url(picture2/irlanda/irlanda.jpg);;

}
#tara3
{

	border: 1px solid purple;
		background-image: url(picture2/franta/franta.jpg);

}
#steag1{
	background-image: url(hartanormala/austria/austria2.png);
	width:600px;
	height:600px;
	background-repeat: no-repeat;
	background-size:12%;
}
#steag2{
	background-image: url("picture2.jpg");
	opacity:75%;
	background-repeat: no-repeat;
	background-size: 150%;
}
.lumina{
	background-color: yellow;
}
.imgs{
	width:200px;
	height:200px;
	position: relative;

}
#belgia{
		position: absolute;
	background-image: url("hartanormala/belgia/belgia2.png");
	background-repeat: no-repeat;

	background-size: 28%;
	margin-left: 36.4583%;
	margin-top: 36.8056%;
	border: 1px solid red;

}
